@media screen and (min-width: 600px) {
  * {
    box-sizing: border-box;

    margin: 0px;
    padding: 0px;
    
    font-family: sans-serif;
  }
  
  body {
    width: 100%;
  
    position: relative;
  }

  button:hover {
    cursor: pointer;
  }
  
  a {
    color: blue;
  }
  
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}