@media screen and (min-width: 600px) {
  #header {
    background-image: url('../../public/img/admin.jpg');
    background-color: rgb(70, 69, 150);
    background-blend-mode: lighten;

    height: fit-content;

    padding: 100px;
    padding-top: 100px;
    padding-bottom: 50px;
  }

  #h1 {
    width: 50%;
  }

  #content {
    width: 100%;
    height: fit-content;

    display: grid;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  #cards {
    display: flex;
    padding-left: 10%;
    flex-wrap: wrap;
    width: 100%;
  }
}