@media screen and (min-width: 600px) {
  .card {
    width: 500px;
    height: fit-content;

    position: inherit;
    align-items: center;
    align-content: center;
    text-align: center;

    padding: 0px;
    margin: 10px;
  }

  .card > img {
    width: inherit;
  }
}